*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #a7eea4;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}

#note-display {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #fa3c3c;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    animation: showNote 0.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes showNote {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styles for the signature */
.signature-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
}

.signature {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: #333;
    transition: color 0.5s ease-in-out;
}

.signature:hover {
    color: #007bff;
}